/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Brian Connor                       */
/*             http://www.NukeVille.com                   */
/*                connbrian@gmail.com                     */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- conatiner title token             --*/.BCC_EQPS_GrayBar01Title
{
	font-size: 11px;
	line-height: 1.4em;
	font-family: tahoma;
	color: #FFF;
	font-weight: bold;
}
/*-- container title cell              --*/.BCC_EQPS_GrayBar01TitleTD
{
	width: 100%;
	padding: 0;
}
/*-- container actions cell            --*/.BCC_EQPS_GrayBar01ActionsTD
{
	width: 0%;
	padding: 0;
}
/*-- container content pane            --*/.Container3Content
{
	font-size: 11px;
	font-family: tahoma;
	color: #444;
	text-align: left;
	padding: 0px 5px 0px 6px;
}
/*-- container Icons cell              --*/.BCC_EQPS_GrayBar01Icons
{
	text-align: right;
	padding: 0px 0 0px 0;
	border-top: 0px solid #BBBBBB;
}

/*-- top center section                --*/.BCC_EQPS_GrayBar01T
{
	background: url(03t_EquinoxGray.gif) bottom left repeat-x;
	vertical-align: top;
	height: 22px;
	padding: 2px 0 0 0px;
}
/*-- top left section                  --*/.BCC_EQPS_GrayBar01TL
{
	background: url(03tl_EquinoxGray.gif) bottom left no-repeat;
	vertical-align: top;
	height: 22px;
	width: 10px;
	padding: 0;
}
/*-- top right section                 --*/.BCC_EQPS_GrayBar01TR
{
	background: url(03tr_EquinoxGray.gif) bottom right no-repeat;
	vertical-align: top;
	height: 22px;
	width: 10px;
	padding: 0;
}

/*========================================================*/

.DarkGrayBg
{
	background-color: #a8b4c1;
	margin-bottom: 10px;
}

.Container3Title
{
	color: #505050;
	font-family: 'Trebuchet MS';
	font-size: 12px;
	font-weight: bold;
	padding-left: 6px;
	text-transform: uppercase;
}

.TitleContainer
{
	padding-top: 4px;
}

.ClearFloat
{
	clear: both;
	font-size: 0px;
	margin: 0px;
	padding: 0px;
}
